<h1>Heroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">

  <div class="card">
    <img class="card-img-top" src="assets/img/batman.png" alt="Batman">
    <div class="card-body">
      <h4 class="card-title">Batman</h4>
      <p class="card-text">El Murciélago</p>
    </div>
    <button 
    type="button" class="btn btn-outline-primary btn-block">
Ver más...
</button>

  <!--  <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más..</a>-->
  </div>

</div>

